name: PHPUnit Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.2'

    - uses: actions/checkout@v4

    - name: Copy .env
      run: cp .env.example .env
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: ":memory:"

    - name: Install Dependencies
      run: composer install --no-interaction --prefer-dist

    - name: Generate key
      run: php artisan key:generate
      
    - name: Run Tests
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: ":memory:"
      run: php artisan test
